@tailwind base;
@tailwind components;
@tailwind utilities;

.link:hover {
  cursor: pointer;
  color: aqua;
}
.small-display {
  cursor: pointer;
  display: flex;
  gap: 5px;
  padding: 2px 0.5rem;
  border: 0.5px solid black;
  border-radius: 5px;
  margin-left: 0.5rem;
}
.form{

	width: 60%;
	height:50%;
	margin:10% auto;

}
.form Input{

width:100%;
height:60px;
margin-bottom:20px
}

.log-in{

width:100%;
background-color:#008b8b;
color:white;
font-size:20px
}
.welcome {
	text-align : center;
	font-size : 90 px;
}

.form label{

font-size:20px;
}

.sign-up{

color:black;

}
